Source: python-backports.tarfile
Section: python
Priority: optional
Standards-Version: 4.5.0
Maintainer: Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
Homepage: https://github.com/jaraco/backports.tarfile/tags
Vcs-Browser: https://github.com/alvistack/jaraco-backports.tarfile
Vcs-Git: https://github.com/alvistack/jaraco-backports.tarfile.git
Build-Depends:
 debhelper,
 debhelper-compat (= 10),
 dh-python,
 fdupes,
 python3-dev,
 python3-pip,

Package: python3-backports.tarfile
Architecture: all
Description: Backport of CPython tarfile module
 Backport of CPython tarfile module.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${python3:Depends},
 python3,
